#### Import Needed Libraries

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data = pd.read_csv("fstreet.csv")
data.head()

C:\Users\Jeffrey.Ojuederhie\AppData\Local\Temp\ipykernel_26168\3534540399.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("fstreet.csv")

,geo_type,geo_id,geo_name,state_code,property_count,property_residential,property_commercial,structure_count,infra_critical_fire,infra_critical_flood,...,smoke_high_days_red_y00,smoke_high_days_red_y30,smoke_moderate_days_purple_y00,smoke_moderate_days_purple_y30,smoke_high_days_purple_y00,smoke_high_days_purple_y30,smoke_moderate_days_maroon_y00,smoke_moderate_days_maroon_y30,smoke_high_days_maroon_y00,smoke_high_days_maroon_y30
0,place,221040,Eek,AK,0,0,0,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,place,226870,Fox,AK,490,148,30,540,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,place,277800,Tok,AK,828,0,0,0,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,place,200065,Adak,AK,0,0,0,0,0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,place,204210,Atka,AK,0,0,0,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data.state_code.value_counts()

state_code
CA    9562
AZ    2247
AL    2096
AR    1523
AK     549
Name: count, dtype: int64

In [11]:
cal_data = data.loc[data['state_code'] == 'CA']

In [22]:
cal_data.columns

Index(['geo_type', 'geo_id', 'geo_name', 'state_code', 'property_count',
       'property_residential', 'property_commercial', 'structure_count',
       'infra_critical_fire', 'infra_critical_flood',
       ...
       'smoke_high_days_red_y00', 'smoke_high_days_red_y30',
       'smoke_moderate_days_purple_y00', 'smoke_moderate_days_purple_y30',
       'smoke_high_days_purple_y00', 'smoke_high_days_purple_y30',
       'smoke_moderate_days_maroon_y00', 'smoke_moderate_days_maroon_y30',
       'smoke_high_days_maroon_y00', 'smoke_high_days_maroon_y30'],
      dtype='object', length=102)

In [12]:
cal_data.head()

,geo_type,geo_id,geo_name,state_code,property_count,property_residential,property_commercial,structure_count,infra_critical_fire,infra_critical_flood,...,smoke_high_days_red_y00,smoke_high_days_red_y30,smoke_moderate_days_purple_y00,smoke_moderate_days_purple_y30,smoke_high_days_purple_y00,smoke_high_days_purple_y30,smoke_moderate_days_maroon_y00,smoke_moderate_days_maroon_y30,smoke_high_days_maroon_y00,smoke_high_days_maroon_y30
6415,place,636252,Igo,CA,67,39,2,128,4,1,...,25.0,27.0,1.0,1.0,7.0,12.0,0.0,0.0,0.0,1.0
6416,place,653882,Ono,CA,66,27,0,111,1,1,...,27.0,28.0,1.0,1.0,10.0,13.0,0.0,0.0,0.0,1.0
6417,place,600310,Adin,CA,257,108,16,214,6,2,...,8.0,10.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0
6418,place,601276,Alta,CA,434,304,4,431,3,1,...,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6419,place,601416,Alto,CA,224,216,1,363,0,0,...,11.0,12.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [13]:
cal_data.isnull().sum()

geo_type                          0
geo_id                            0
geo_name                          0
state_code                        0
property_count                    0
                                 ..
smoke_high_days_purple_y30        0
smoke_moderate_days_maroon_y00    0
smoke_moderate_days_maroon_y30    0
smoke_high_days_maroon_y00        0
smoke_high_days_maroon_y30        0
Length: 102, dtype: int64

In [15]:
## Filter for the most recent location of the
## the hurricane
cal_data.flood_risk_level.value_counts()

flood_risk_level
minor       7970
moderate     897
minimal      366
major        223
severe        68
extreme       37
none           1
Name: count, dtype: int64

In [17]:
cali_data = cal_data[['geo_name', 'state_code', 'property_count', 'structure_count', 'flood_risk_level']]
cali_data.head()

     geo_name state_code  property_count  structure_count flood_risk_level
6415      Igo         CA              67              128            minor
6416      Ono         CA              66              111         moderate
6417     Adin         CA             257              214         moderate
6418     Alta         CA             434              431            minor
6419     Alto         CA             224              363            minor

In [18]:
risk_mapping = {
    'none': 0,
    'minimal': 1,
    'minor': 2, 
    'moderate': 3,
    'major': 4,
    'severe': 5,
    'extreme': 6
}

In [19]:
cali_data['flood_risk_score'] = cali_data['flood_risk_level'].map(risk_mapping)

C:\Users\Jeffrey.Ojuederhie\AppData\Local\Temp\ipykernel_26168\3906027769.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cali_data['flood_risk_score'] = cali_data['flood_risk_level'].map(risk_mapping)

In [20]:
cali_data.head()

,geo_name,state_code,property_count,structure_count,flood_risk_level,flood_risk_score
6415,Igo,CA,67,128,minor,2
6416,Ono,CA,66,111,moderate,3
6417,Adin,CA,257,214,moderate,3
6418,Alta,CA,434,431,minor,2
6419,Alto,CA,224,363,minor,2

In [ ]:
## Heat Map
contingency_table = pd.crosstab(cali_data['geo_name'], cali_data['flood_risk_level'])

plt.figure(figsize=(10, 8))
sns.heatmap(contingency_table, annot=True, fmt=".1f", cmap='Blues')
plt.title("Flood Risk Score by County in California")
plt.xlabel("Flood Risk Score")
plt.ylabel('County')
plt.show()

In [ ]:
plt.figure(figsize=(12, 6))
sns.scatterplot(data=cali_data, x = 'property_count', y='flood_risk_score', hue='Count', s=100)
plt.title('Flood Risk Score vs. Property Count')
plt.xlabel('')